# MTEK-GDL gitignore
# modified from original by muffintrap for version 0.100.0-muffintrap
*.o
*.d
*.a
*.elf
*.dol
*.exe
lib
build

# Changed by muffintrap:
# Added KDevelop files etc. for version 0.100.1-muffintrap

# Mac folder files?
.DS_Store

# Project files from KDevelop
.kdev4/
*.kdev4

# Kate meta files
*.kate-swp

# Misc files
*.txt

# Different object file types for different platforms
# win
*.wo
# linux
*.lo
# mac
*.mo
