# MTEK-GDL gitignore
# modified from original by muffintrap for version 0.100.2-muffintrap
*.o
*.d
*.a
*.elf
*.dol
*.exe
*.out
lib
build

# Changed by muffintrap:
# Added KDevelop files etc. for version 0.100.1-muffintrap

# Mac folder files?
.DS_Store

# Project files from KDevelop
.kdev4/
*.kdev4

# Kate meta files
*.kate-swp

# Misc files
*.txt

# Object files for PC platforms
*.pco

# Old, platform specific object files
*.lo
*.wo
*.mo
